
:root{
	--font-choice: "Iosevka Term";
}

#content browser{
  margin-right:-17px!important;
  margin-bottom:-17px!important;
  overflow-y:hidden;
  overflow-x:hidden;
}

/* universal font choice */
* {
    font-family: var(--font-choice) !important;
    font-weight: medium !important;
}

/* moamenk's responsive minimal firefox tweaks */
:root:not([customizing]) #nav-bar toolbarbutton
 {
    margin-left: -28px !important;
    opacity: 0 !important;
    transform: scale(.85, .85) !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
    transform: scale(1, 1) !important;
	opacity:1 !important;
	margin-left:0 !important;
	pointer-events: auto !important;
}
#nav-bar #urlbar {/* url bar text shrinks when in "stealth mode" */
	font-size: 0.85em !important;
    transition: all 100ms var(--animation-easing-function) !important;
}
:root:not([customizing]) :hover > #nav-bar #urlbar, 
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #urlbar {
	font-size: 1.2em !important;
}
/* some experimentation with expanding tab on hover to see the title better, it's kinda stupid but I was just messing around, could be something useful in the future */
.tabbrowser-tab:not([selected]):hover { 
   min-width: 300px !important;
   transition: min-width 150ms var(--animation-easing-function) 2s !important;
}
/* random style tweaks I like */
/*
Remove borders everywhere, some code copied from edge style for firefox
*/
 :root {
 	--tabs-border: transparent !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
	border-left: none !important;
}

#urlbar, .searchbar-textbox {
 	border: none !important;
 	box-shadow: none !important;
}
#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}
/* nav bar is semi opaque when unhovecolor1 */
#nav-bar > * {
	opacity:0.5;
	transition: opacity 0.3s;
}
#nav-bar:hover > * {
	opacity:1 !important;
}

#urlbar {
	opacity:1 !important;
}

#urlbar .urlbar-input-box {
	opacity:1 !important;
}
#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}

#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}
.tab-background {
	border-top: none !important;
}
.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: var(--color2) !important;
	border-top: 0px !important;
	margin-bottom: 0px !important;
}
window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	box-shadow: none !important;
	border: 0px !important;
}
toolbarbutton.bookmark-item { /* bookmarks toolbar edge style */
	border: 1px rgba(0, 0, 0, 0) solid !important;
}
toolbarbutton.bookmark-item:hover {
	background-color: rgba(75, 75, 75, 1);
	border: 1px rgba(75, 75, 75, 1) solid !important;
}
.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}

#TabsToolbar {
	margin-bottom: 0px !important;
}
#TabsToolbar .tab-background {
    border-right: 0px !important;
    border-left: 0px !important;
}
#TabsToolbar[movingtab] {
    padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

#navigator-toolbox {
	border-bottom: 0px !important;
}

.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up:hover, .scrollbutton-down:hover {
	background: rgba(42, 42, 42, 1) ;
}
.scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: #444;
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent ;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
.close-icon > .toolbarbutton-icon {
	border-radius: 0px !important;
}

#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent;
}
:root {
	--toolbarbutton-border-radius: 0px !important;
}
#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}
#tabbrowser-tabs {
	--tab-line-color: -moz-win-accentcolor !important;
	--tab-loading-fill: -moz-win-accentcolor !important;
	box-shadow: none !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}
.webextension-browser-action {
	filter: saturate(0%);
}
:root[lwtheme-image]:-moz-lwtheme-brighttext {
    text-shadow: none !important;
}
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
	display: none !important;
    color: var(--color1) !important;
}
.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
}

.tabbrowser-tab[pending] {
	font-style: italic;
}

toolbarspring {
    min-width: 8px;
    max-width: 8px;
}
.tabbrowser-tab[fadein]:not([pinned]) { /* Change tab max width */
    max-width: 300px !important;
}
#PanelUI-button { /*hide panel menu separation */
	border-image-slice: 0 !important;
}


/* url bar */
#urlbar:-moz-lwtheme, #navigator-toolbox .searchbar-textbox:-moz-lwtheme {
    color: var(--fg) !important;
    background: var(--bg) !important;
}
textbox {
    cursor: text;
    color: -moz-FieldText;
}
#urlbar:not([focused="true"]):-moz-lwtheme, #urlbar.hidden-focus:-moz-lwtheme, #navigator-toolbox .searchbar-textbox:not([focused="true"]):-moz-lwtheme {
    border-color: var(--bg) !important;
}
#urlbar, .searchbar-textbox {
    -moz-appearance: none;
    background-clip: content-box;
    border: 1px solid hsla(240,5%,5%,.25);
        border-top-color: rgba(12, 12, 13, 0.25);
        border-right-color: rgba(12, 12, 13, 0.25);
        border-bottom-color: rgba(12, 12, 13, 0.25);
        border-left-color: rgba(12, 12, 13, 0.25);
    border-radius: 20px !important;
    /*box-shadow: 0 1px 2px rgba(0,0,0,.5) !important;*/
    padding: 0;
    margin: 3px 5px;
    min-height: 30px;
    cursor: default;
    overflow: -moz-hidden-unscrollable;
}
#urlbar:not(.hidden-focus)[focused="true"], .searchbar-textbox[focused="true"]{
	border-color: var(--color8) !important;
}


/* lock icon */
#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon, #urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon, #urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon {
    list-style-image: url(chrome://browser/skin/connection-secure.svg);
    visibility: visible;
    -moz-context-properties: fill;
    fill: var(--color6) !important;
}

/* toolbar */
.browser-toolbar:not(.titlebar-color) {
    background-color: var(--bg) !important;
    background-image: var(--toolbar-bgimage);
    color: var(--color2) !important;
    -moz-appearance: none;
    border-style: none;
}
.tabbrowser-tab[visuallyselected="true"] {
	/* box-shadow: 0px 0px 4px #000000 !important; */
}
#back-button{ border: none !important }

/* Remove border under navbar */
#navigator-toolbox::after {
	border-bottom: 0px !important;
}

/* unactive tab */
.tabbrowser-tab {
    -moz-appearance: none;
    background-color: var(--bg) !important;
    color: var(--fg) !important;
    border-radius: 0;
    border-width: 0;
    margin: 0 !important;
    padding: 0 !important;
    -moz-box-align: stretch;
}

/* active tab */
#tabbrowser-tabs > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"] {
  background-color: var(--bg) !important;
  color: var(--fg) !important;
  background-image: none !important;
}

#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content { 
    background: var(--bg) !important;
    color: var(--fg) !important;
}

.tab-background[selected="true"] {
  background-color: var(--bg) !important;
}

element {
    --tab-min-width: 76px;
    --tab-loading-fill: rgb(51, 56, 66);
    --tab-line-color: var(--fg) !important;
    --toolbar-color: var(--fg) !important;
}

#navigator-toolbox {
    --tabs-border-color: var(--bg) !important;
    -moz-appearance: none;
    background-color: var(--bg) !important;
    border-top: none;
    border-bottom: none;
}

.close-icon {
    -moz-appearance: none;
    -moz-context-properties: fill, fill-opacity;
    list-style-image: url(chrome://global/skin/icons/close.svg);
    color: var(--color1) !important;
    fill: currentColor;
    fill-opacity: 0;
}

/* toolbar hover */
:root:-moz-lwtheme-brighttext, toolbar[brighttext] {
    --toolbarbutton-hover-background: var(--color8) !important;
    --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, hsla(0,0%,70%,.6));
    --backbutton-background: var(--toolbarbutton-hover-background);
    --backbutton-hover-background: var(--toolbarbutton-active-background);
    --backbutton-active-background: hsla(0,0%,100%,.4);
}
